/*General Styles*/

.title-about {
  color: rgb(71, 71, 71);
  font-weight: 500;
}
.about-me {
  color: rgb(71, 71, 71);
  font-weight: 500;
}
.skills,
.find-me,
.linkedin,
.github-about,
.icon {
  animation-name: skills;
  animation-delay: initial;
  animation-duration: 3s;
  animation-timing-function: ease-in;
}
.skills {
  color: rgb(71, 71, 71);
  word-spacing: 0.1em;
}
@keyframes skills {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
.icons-skills {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.find-me {
  text-align: center;
  color: rgb(71, 71, 71);
}
.social-media {
  display: flex;
  justify-content: center;
}
.linkedin,
.github-about {
  width: 40px;
  height: 40px;
  color: black;
  text-decoration: none;
  margin: -20px 0 0 10px;
}
.linkedin:hover,
.github-about:hover {
  color: #d9a407;
}
.pdf {
  border: none;
  border-radius: 4px;
  margin: 30px 0 0 120px;
  padding: 8px;
  font-family: "poppins";
  font-size: 1.2em;
  color: white;
  background-color: rgb(71, 71, 71);
  cursor: pointer;
  text-decoration: none;
}

/*Dark mode*/
.about-me.dark,
.title-about.dark,
.skills.dark,
.find-me.dark,
.linkedin.dark,
.github-about.dark,
.icon.dark {
  color: rgb(245, 243, 243);
}
.linkedin.dark:hover,
.github-about.dark:hover {
  color: #d9a407;
}

@media (min-width: 320px) {
  .about {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
  .title-about {
    font-size: 1.6em;
    text-align: center;
    margin: 25px;
  }
  .about-me {
    text-align: center;
    padding: 15px;
    font-size: 18px;
  }
  .pdf {
    margin: 25px 80px;
  }
  .skills {
    text-align: center;
    margin-top: 20px;
    font-weight: 500;
    padding: 10px;
  }
  .icon {
    width: 40px;
    height: 40px;
    margin: 15px;
  }
  .find-me {
    font-size: 20px;
    font-weight: 500;
    margin-top: 30px;
  }
  .social-media {
    margin: 25px auto;
  }
}
@media (min-width: 641px) {
  .title-about {
    font-size: 1.5em;
    text-align: center;
    margin-top: 60px;
  }
  .about-me {
    text-align: center;
    margin: 20px;
    font-size: 18px;
  }
}
@media (min-width: 961px) {
  .title-about {
    font-size: 1.7em;
    text-align: center;
    margin-top: 60px;
  }
  .about-me {
    text-align: center;
    margin: 20px;
    font-size: 20px;
  }
}
@media (min-width: 1281px) {
  .about.light {
    background-color: rgb(245, 243, 243);
  }
  .title-about {
    font-size: 2em;
    text-align: center;
    margin-top: 60px;
  }
  .about-me {
    text-align: justify;
    margin: 25px;
    padding: 0 150px 0 200px;
    font-size: 20px;
  }
  .pdf {
    margin-right: 1020px;
  }
  .skills {
    font-size: 1.5em;
    text-align: left;
    margin-right: 620px;
  }
  .icons-skills {
    display: flex;
    justify-content: left;
    align-items: center;
    margin: 15px 600px 100px 0;
  }
  .find-me {
    text-align: right;
    font-size: 1.5em;
    margin: -220px 0 0 1020px;
  }
  .social-media {
    display: flex;
    justify-content: right;
    margin: 30px 0 150px 1020px;
  }
  .linkedin,
  .github-about {
    padding: 5px;
  }
}
