/*General and Mobile styles*/

.title-about {
  color: rgb(71, 71, 71);
  text-align: center;
  margin: 40px;
  font-weight: 500;
  font-size: 1.6em;
}
.about-me {
  color: rgb(71, 71, 71);
  text-align: center;
  margin: 40px;
  padding: 10px;
  font-weight: 500;
}
.skills,
.find-me,
.linkedin,
.github-about,
.icon {
  animation-name: skills;
  animation-delay: initial;
  animation-duration: 3s;
  animation-timing-function: ease-in;
}
.skills {
  color: rgb(71, 71, 71);
  text-align: center;
  margin-top: 80px;
  font-weight: 500;
}
@keyframes skills {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
.find-me {
  text-align: center;
  color: rgb(71, 71, 71);
  font-size: 20px;
  font-weight: 500;
  margin-top: 20px;
}
.social-media {
  display: flex;
  justify-content: center;
  margin: 30px 10px 200px 0;
}
.linkedin,
.github-about {
  width: 40px;
  height: 40px;
  color: black;
  text-decoration: none;
  margin: -20px 0 0 10px;
}
.linkedin:hover,
.github-about:hover {
  color: #d9a407;
}
.icons-skills {
  display: flex;
  justify-content: center;
  align-items: center;
}
.icon {
  width: 40px;
  height: 40px;
  margin: 20px;
}
.pdf {
  border: none;
  border-radius: 4px;
  margin: 30px 0 0 120px;
  padding: 8px;
  font-family: "poppins";
  font-size: 1.2em;
  color: white;
  background-color: rgb(71, 71, 71);
  cursor: pointer;
  text-decoration: none;
}

/*Dark mode*/
.about-me.dark,
.title-about.dark,
.skills.dark,
.find-me.dark,
.linkedin.dark,
.github-about.dark,
.icon.dark {
  color: rgb(245, 243, 243);
}
.linkedin.dark:hover,
.github-about.dark:hover {
  color: #d9a407;
}
/*Desktop styles*/
@media only screen and (min-width: 480px) {
  .title-about {
    text-align: center;
    font-size: 2em;
  }
  .about-me {
    text-align: left;
    font-size: 1.3em;
    padding: 20px;
    margin-left: 150px;
  }
  .skills {
    font-size: 1.5em;
    text-align: left;
    margin: 75px 0 0 250px;
  }
  .icons-skills {
    display: flex;
    justify-content: left;
    align-items: center;
    margin: -15px 0 0 350px;
  }
  .social-media {
    display: flex;
    justify-content: right;
    margin: 30px 150px 0 0;
  }
  .find-me {
    text-align: right;
    margin: -105px 250px 0 0;
  }
  .linkedin,
  .github-about {
    margin: -20px 110px 0 -100px;
  }
  .pdf {
    margin: 50px 0 0 250px;
  }
}
