/*General Styles*/
body {
  width: 100vw;
  background-color: #333333;
}
.name {
  color: #d9a407;
  overflow: hidden;
  white-space: nowrap;
  letter-spacing: 0.15em;
  animation: typing 3.5s steps(40, end);
}
@keyframes typing {
  from {
    width: 0;
  }
  to {
    width: 100%;
  }
}
.description {
  color: rgb(71, 71, 71);
}
.profile-picture {
  border-radius: 50%;
  animation-name: img-ani;
  animation-delay: initial;
  animation-duration: 3s;
  animation-timing-function: ease-in;
}
@keyframes img-ani {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

/*dark mode*/
.home .name.dark {
  color: #fff587;
}
.home .description.dark {
  color: rgb(218, 214, 214);
}

@media (min-width: 320px) {
  .home {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    margin: 20px;
  }
  .name {
    font-size: 25px;
    font-weight: 600;
    margin-top: 20px;
  }
  .description {
    font-size: 25px;
    font-weight: 400;
    text-align: center;
    margin-top: 60px;
  }
  .horizontal-line {
    border: 1px dashed #fff587;
    width: 160px;
  }
  .profile-picture {
    width: 270px;
    height: 270px;
    margin-top: 60px;
  }
}
@media (min-width: 481px) {
  .home {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    margin: 40px;
  }
  .name {
    font-size: 25px;
    font-weight: 600;
    margin-top: 20px;
  }
  .description {
    font-size: 25px;
    font-weight: 400;
    text-align: center;
    margin-top: 60px;
  }
  .horizontal-line {
    border: 1px dashed #fff587;
    width: 160px;
  }
  .profile-picture {
    width: 270px;
    height: 270px;
    margin-top: 60px;
  }
}
@media (min-width: 641px) {
  .home {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    margin: 20px;
  }
  .name {
    font-size: 32px;
    font-weight: 600;
    margin-top: 40px;
  }
  .description {
    font-size: 28px;
    font-weight: 400;
    text-align: center;
    margin-top: 60px;
  }
  .horizontal-line {
    border: 1px dashed #fff587;
    width: 160px;
  }
  .profile-picture {
    width: 270px;
    height: 270px;
    margin-top: 60px;
  }
}

@media (min-width: 961px) {
  .home {
    margin: 20px;
  }
  .name {
    font-size: 50px;
    font-weight: 600;
    margin: 200px 400px 0 0;
  }
  .description {
    display: flex;
    width: 450px;
    font-size: 28px;
    font-weight: 400;
    margin: 50px 470px 0 0;
  }
  .horizontal-line {
    border: 1px dashed #fff587;
    width: 1px;
  }
  .profile-picture {
    width: 350px;
    height: 350px;
    margin: -300px 0 0 500px;
  }
}
@media (min-width: 1281px) {
  .name {
    font-size: 4em;
    margin: 200px 650px 0 0;
  }
  .description {
    color: rgb(71, 71, 71);
    font-size: 2em;
    display: flex;
    width: 800px;
    font-weight: 400;
    margin: 50px 430px 0 0;
  }
  .horizontal-line {
    border: 1px dashed #fff587;
    width: 0.5px;
    height: 30px;
    padding: 0;
    margin: 10px;
  }
  .profile-picture {
    margin: -350px 0 0 820px;
    width: 480px;
    height: 480px;
  }
}
@media (min-width: 1281px) {
}

/* @media only screen and (min-width: 480px) {
  .name {
    margin: 150px 0 0 160px;
    font-size: 4em;
  }
  .description {
    color: rgb(71, 71, 71);
    font-size: 2em;
    margin-left: 160px;
  }
  .profile-picture {
    margin: -320px 0 0 920px;
    width: 500px;
    height: 500px;
  }
} */
