/*General and Mobile styles*/
body {
  margin: 0;
  padding: 0;
}
.my-projects {
  color: rgb(71, 71, 71);
  font-family: "poppins";
  text-align: center;
  font-size: 1.5em;
}
/*Desktop styles*/

@media only screen and (min-width: 480px) {
  .my-projects {
    text-align: center;
    font-size: 30px;
  }
}
