/*General and Mobile styles*/
body {
  margin: 0;
  padding: 0;
}
.my-projects {
  color: rgb(71, 71, 71);
  font-family: "poppins";
  text-align: center;
  margin-top: 30px;
  font-weight: 500;
}
/*Desktop styles*/

@media (min-width: 320px) {
  .my-projects {
    font-size: 1.5em;
  }
}
@media (min-width: 481px) {
  .my-projects {
    font-size: 1.5em;
  }
}
@media (min-width: 641px) {
  .my-projects {
    font-size: 30px;
  }
}
