/*General and Mobile styles*/

.hamburger-menu {
  display: flex;
  position: absolute;
  top: 30px;
  left: 8px;
  z-index: 3;
}
.hamburger-menu:hover {
  cursor: pointer;
}
.menu {
  display: none;
}
#hidden {
  position: absolute;
  z-index: 2;
  top: 30px;
  right: -25px;
  display: flex;
  flex-direction: column;
  align-items: center;
  font-size: 1em;
  width: 100vw;
  height: 100vh;
  padding-left: 40px;
  background-color: #272724;
}
.navbar {
  display: flex;
  height: 110px;
  font-size: 1.4em;
  padding: 5px;
  overflow: hidden;
}
.navbar a {
  color: rgb(71, 71, 71);
  text-align: center;
  margin-top: 100px;
  margin-bottom: -95px;
  text-decoration: none;
}
.navbar a:hover {
  color: #202020;
}
.navbar a.active {
  color: #202020;
  text-decoration: none;
  font-weight: bold;
}

/*dark mode*/
.navbar.dark a {
  color: rgb(221, 218, 220);
}
.navbar a:hover {
  color: #d9a407;
}
.navbar a.active {
  color: #d9a407;
}

/*dark mode*/
.hamburger-menu.dark {
  background-color: #333333;
  border: none;
}

.hamburger-menu.light {
  background-color: rgb(221, 218, 220);
}

/*Desktop styles*/

@media only screen and (min-width: 480px) {
  .hamburger-menu {
    display: none;
    margin-left: 20px;
  }
  #hidden {
    display: none;
  }
  .menu {
    display: flex;
  }
  .navbar {
    display: flex;
    height: 40px;
    font-size: 1.4em;
    padding: 10px;
  }
  .navbar a.active {
    color: #d9a407;
  }
}
