/*General Styles*/
.theme-selector {
  position: relative;
  display: flex;
  justify-content: end;
}
.mode-toggle img {
  width: 30px;
  height: 30px;
  cursor: pointer;
}
@media (min-width: 320px) {
  .mode-toggle {
    position: absolute;
    bottom: 50px;
    right: 40px;
  }
}
@media (min-width: 481px) {
  .mode-toggle {
    position: absolute;
    bottom: 5px;
    right: 40px;
  }
}
@media (min-width: 961px) {
  .mode-toggle {
    position: absolute;
    bottom: 5px;
    right: 40px;
  }
}
