/*General and Mobile styles*/
.App {
  width: 375px;
  min-height: 100%;
  border: 0.1px solid;
  background-color: #eeebeb;
}

/*Dark mode*/
.App.dark {
  background-color: #333;
}

/*Desktop styles*/
@media only screen and (min-width: 480px) {
  .App {
    width: 100%;
  }
}
